<!DOCTYPE html>
<html>
  <head>
    <title>ChatSocket</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app" class="app-container">

      <div class="status-bar">
      	ChatSocket <span id="username">Others see you as {{ session }}</span>
      </div>

      <div class="message-history">
        <div v-for="chatItem in chatHistory" class="chatitem-container">
          <span class="user-identifier" v-if="chatItem.renderHash">{{ chatItem.message.sender.hash }}</span>
          <span class="user-identifier" v-if="chatItem.renderAlias">{{ chatItem.message.sender.alias }}</span>
          <span v-bind:class="chatItem.type">{{ chatItem.message.text }}</span>
          
        </div>
      </div>

      <div class="inputs">
      	<input type="text" v-model="inputText" class="input-text" placeholder="Type a message" v-on:keyup.enter="sendText" />
        <input type="button" class="input-send" value="SEND" v-on:click="sendText" />
      </div>

    </div>
    <script src="bundle.js"></script>
  </body>
</html>
