<!DOCTYPE html>
<html>
  <head>
    <title>ChatSocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app" class="app-container">

      <div class="status-bar">
      	<span id="title" v-on:click="showUserList">#general ({{users.count}} online)</span>
        <span id="username">{{ users.get(me).displayName }}</span>
        <button id="button" v-on:click="changeAlias"></button>
      </div>

      <div class="message-history">
        <div v-for="chatItem in chatHistory" class="chatitem-container">
          <span class="user-identifier" v-if="chatItem.type=='user'">{{ chatItem.message.user.displayName }}</span>
          <span v-bind:class="chatItem.type">{{ chatItem.message.text }}</span>
          
        </div>
      </div>

      <div class="inputs">
      	<input type="text" v-model="inputText" class="input-text" placeholder="Type a message" v-on:keyup.enter="sendText" />
        <input type="button" class="input-send" value="SEND" v-on:click="sendText" />
      </div>

    </div>
    <script src="bundle.js"></script>
  </body>
</html>
